<div class="text-center">
  <div class="subheading"> 
  <h2>{{title}}</h2>
  <h4>Created by {{user.username}} </h4>
  </div>
  <p>{{content}}</p>

  <div class="comment-container comment-form" id="comment-container">
    <textarea id="comment" rows="4" cols="30" required></textarea>
  <p>
    <button class="btn btn-primary">Add a comment</button>
  </p>
  </div>

  <div id="display-container" style="display: none;">
    <h4>Comment:</h4>
    <p>Created by: {{user.username}}<span id="display-name"></span></p>
    <p><strong>{{comment.comment_text}}:</strong> <span id="display-comment"></span></p>
  </div>

</div>

<script src="/js/comment.js"></script>