<div class="row">
  <div class="col-auto">
    <h1>Dashboard</h1>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a Blog Post:</h3>

    <form class="form new-blogpost-form">
      <div class="form-group">
        <label for="blogpost-title">Title:</label>
        <input class="form-input" type="text" id="blogpost-title" name="blogpost-title" />
      </div>
      <div class="form-group">
        <label for="blogpost-content">Content:</label>
        <textarea class="form-input" id="blogpost-content" name="blogpost-content"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

<div class="old-blogposts row mt-4">
  <div class="col-md-6">
    <h3>Previous Posts:</h3>
  {{#each blogPosts}}
  <div class="blog-post" id="blogPost-{{id}}">
    <h5 class="title">{{title}}</h5>
    <p>Created by: {{user.username}}</p>
    <p class="content"> {{content}}</p>
    <button class="btn btn-primary" id="edit-btn-{{id}}" onclick="editBlogPost('{{id}}')">Edit</button>
    <button class="btn btn-danger" id="delete-btn" onclick="deleteBlogPost('{{id}}')">Delete</button>
 <button class="btn" id="save-btn-{{id}}" onclick="saveBlogPost({{id}})" style="display: none;">Save</button>
 </div>
    {{/each}}
  </div>
</div>

<script src="/js/dashboard.js"></script>
